@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  width: 120px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(60deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  border-radius: 50%;
  background: #24354c;
  animation: l3 1s infinite alternate;
}
.loader:after {
  --s: -1;
}
@keyframes l3 {
  90%,
  100% {
    transform: translate(calc(var(--s, 1) * 30px));
  }
}

/* global.css */
.ant-table-cell {
  text-align: center; /* This will center all table cell content */
}

/* global.css */
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center !important; /* !important ensures that the style is applied */
}

/* styles/global.css or styles/YourComponent.module.css */
.no-active {
  background-color: transparent !important; /* Ensures no background color */
  outline: none !important; /* Removes outline */
  box-shadow: none !important; /* Removes box shadow if present */
}

/* Optional: Remove focus styles */
.no-active:focus {
  outline: none !important; /* Removes focus outline */
}
